.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem; 
  gap: 2rem;
  background-color: white;
  min-height: 100vh; 
  box-sizing: border-box;
  overflow: hidden;
}

@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.about-text,
.about-image {
  opacity: 0;
  transform: translateX(80px); 
  transition: all 0.7s ease;
}

.about-container.animate .about-text {
  opacity: 1;
  transform: translateX(0); 
}

.about-container.animate .about-image {
  opacity: 1;
  transform: translateX(0); 
}


.about-text {
  transform: translateX(-80px);
  flex: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
}

.about-text p {
  font-size: 1.125rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  text-align: justify;
}

.about-text strong {
  font-weight: bold;
}

.about-image {
  flex: 1;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
